aside.main-sidebar
    section.sidebar
        .user-panel
            .pull-left.image
                img(src='/adminlte/dist/img/user8-128x128.jpg',alt='User Image').img-align-left.img-circle
            .pull-left.info
                p Admin 
        ul.sidebar-menu
            li.treeview
                a(href='/pengelola/home')
                    i.fa.fa-house-user
                    span
                        | Dashboard
                    span.pull-right-container
            li.treeview
                a(href='/')
                    i.fa.fa-list
                    span
                        | Data Pengelola Sampah
                    span.pull-right-container
            li.treeview
                a(href='/sampah/data')
                    i.fa.fa-book-open
                    span
                        | Data Sampah 
                    span.pull-right-container